nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  height: 5em;
  width: 100vw;
}
#navbar {
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
  z-index: 5;
  position: fixed;
  animation: nav 0.5s ease-in 0s 1;
}
@keyframes nav {
  0% {
    transform: translateY(-5em);
  }
}

.navbar-scrolled {
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 1rem black;
  border-bottom: 1px solid var(--border-color);
}
.name > a {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
}
.menu-contents {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: red;
}

.nav-link > span {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  color: red;
}
.nav-link.active {
  color: red;
}
.nav-link.active > span {
  opacity: 1;
  color: red;
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 1em;
  margin: 0 3rem;
  margin-top: 5rem;
  border-radius: 22px;
  font-size: 2rem;
  font-weight: bold;
}
#home-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.hello {
  margin-top: 5rem;
  font-size: 6rem;
  animation: hello 1.5s ease-in 0s 1;
}
@keyframes hello {
  0% {
    transform: translateX(-100rem);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(100vh - 5em);
  gap: 2rem;
}

.intro-helloandskill {
  display: flex;
  flex-direction: column;
}

.text {
  color: red;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;

}

.show {
  opacity: 1;
}

.home-desc {
  font-size: 1rem;
  width: 60%;
  animation: home_desc 3.5s ease-in 0s 1;
}

@keyframes home_desc {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.socials-home {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-left: 1rem;
  animation: home_desc 4s ease-in 0s 1;
}
.social-icon-home {
  font-size: 3rem;
  list-style: none;
}
.socials-home > a > li > i {
  transition: all 0.2s ease-in-out;
}
.socials-home > a > li > i:hover {
  color: red;
  scale: 1.1;
}
.me.home {
  width: 16em;
}

/* ABOUT ME */
#about-me-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0px 1px 1rem black;
  background-color: var(--bg-color);
  /* background-color: #330033; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23910000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FF0000'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");  background-attachment: fixed;
}
#about-me {
  margin: 0 3rem;
}
h2 > span {
  color: red;
}
/* SKILL LEVEL */
.skill {
  position: relative;
  top: calc(3em + 1rem);
  width: 30%;
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.bar {
  position: relative;
  border: 1px solid rgb(252, 64, 64);
  border-radius: 20px;
}
.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(95, 0, 0), red);
}
.skills:not(:last-child) {
  margin-bottom: 3rem;
}
#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 90%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 75%;
  }
}
#javascript-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 68%;
  }
}
#c-bar {
  animation: c-fill 2s forwards;
}
@keyframes c-fill {
  100% {
    width: 63%;
  }
}

.projects-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-shadow: 0px 1px 1rem black;
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.workscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: calc(100vh - 11rem);
}
.worksrow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22em;
  height: calc((100vh / 4) - 0.7rem);
  background-color: var(--work-bg);
  background-image: url("../media/work-bg-dark.png");
  background-size: cover;
  border-radius: 22px;
  backdrop-filter: blur(10px) scale(20);
  transition: all 0.3s ease;
}

.works:hover {
  scale: 1.1;
  background-image: url("../media/work-bg.png");
  backdrop-filter: blur(10px) scale(1);
  box-shadow: 1px 2px 0.6rem #610000;
}
.worktext {
  transition: all 0.3s ease;
  transform: translateY(-3rem);
}
.works:hover > .worktext {
  transform: translateY(0rem);
}
.worktext > a > i {
  opacity: 0;
}
.works:hover > .worktext > a {
  text-decoration: underline;
}
.works:hover > .worktext > a > i {
  opacity: 1;
  color: var(--link-color);
}
.photo {
  position: relative;
  height: 10em;
  width: 20em;
}

.workphoto {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  aspect-ratio: 1 / 1;
  border-radius: 22px;
}
.worktext {
  margin-top: 1rem;
}
.workredirect:hover{
  color: var(--link-color);
}
#moreprojectslink {
  transition: all 0.4s ease;
  font-size: 2rem;
}
#moreprojectslink:hover {
  color: red;
}
#moreprojectslink > i {
  opacity: 0;
  transform: translateX(-3rem) scale(0);
  transition: all 0.4s ease;
}
#moreprojectslink:hover > i {
  opacity: 1;
  transform: translateX(0rem);
  color: red;
}
/* CONTACT */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-shadow: 0px 1px 1rem black;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1015' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1009'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1014'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1011'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1012'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1010'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1013'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1015'%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='30' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='30' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='30' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='90' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='90' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='90' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='150' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='150' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='150' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='210' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='210' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='210' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='210' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='210' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='270' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='270' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='270' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='330' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='330' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='330' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='390' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='390' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='390' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='450' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='450' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='450' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='450' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='510' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='510' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='510' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='510' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='510' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='510' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='510' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='570' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='570' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='570' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='570' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='630' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='630' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='690' y='30' stroke='rgba(241%2c 3%2c 3%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='90' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='150' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='690' y='210' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1010' x='690' y='270' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='330' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='390' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='450' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='510' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1009' x='690' y='570' stroke='rgba(241%2c 3%2c 3%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  background-color: var(--bg-color);
  width: 100vw;
}
.contactheader,
.contactdesc {
  text-align: center;
  color: red;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2em;
  padding: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 2px 1px 1rem #1b1b1b;
  border-radius: 22px;
}
form > label > input,
form > input {
  width: 14em;
  height: 2em;
  border-radius: 22px;
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  outline: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 0.2rem #222;
  font-size: 3rem;
  padding: 0 1rem;
}
form > div {
  display: flex;
  gap: 2em;
  flex-direction: column;
}
form > div > label > input {
  height: 2em;
  width: 13em;
  border-radius: 22px;
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  outline: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 0.2rem #222;
  font-size: 3rem;
  padding: 0 1rem;
}
#textarea {
  height: 5.5em;
}
.messageandsend {
  display: flex;
  /* align-items: center; */
}
form > div > input[type="submit"] {
  height: 2em;
  border-radius: 22px;
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  outline: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 0.2rem #222;
  font-size: 3rem;
  padding: 0 1rem;
  transition: all 0.4s ease-in;
}
form > div > input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.788);
  box-shadow: 2px 2px 0.2rem #330000;
}
form > div > label > textarea {
  height: 5.4em;
  width: 13em;
  border-radius: 22px;
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  outline: none;
  border: 1px solid transparent;
  box-shadow: 2px 2px 0.2rem #222;
  font-size: 3rem;
  padding: 0 1rem;
}
form > div > label > textarea::-webkit-scrollbar {
  display: none;
}
input,
textarea {
  transition: all 0.4s ease-in;
  resize: none;
}
input:invalid,
textarea:invalid {
  box-shadow: 2px 2px 0.2rem #b30000;
}
input:valid,
textarea:valid {
  box-shadow: 2px 2px 0.2rem #008b00;
}
input:active,
textarea:active {
  box-shadow: 2px 2px 0.2rem #222;
}
input:focus,
textarea:focus {
  box-shadow: 2px 2px 0.2rem #555;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
  -webkit-text-fill-color: initial !important;
  transition: background-color 5000s ease-in-out 0s;
}
#contact-me {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#footer {
  width: 100vw;
  height: 7em;
  background-color: var(--work-bg);
  backdrop-filter: blur(5px);
  background-attachment: fixed;
}
#footer > div > span > a {
  font-size: 4rem;
}
#footer > div > span > a:hover {
  color: red;
}
.leftandrightfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
.leftandrightfooter > .right > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.termsconditions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
}

/* DARK LIGHT */
.toggleWrapper {
  position: absolute;
  top: 6em;
  right: -2em;
  overflow: hidden;
  /* padding: 0 200px; */
  transform: translate3d(-50%, -50%, 0);
  color: white;
  scale: 0.6;
  animation: fade 4s ease 0s 1 ;
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #F1EEE9;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border: 1px solid var(--border-color);
}

.toggle:before {
  content: "Light";
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}

.toggle:after {
  content: "Dark";
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: #749ed7;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #0e1116;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #fff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes fade {
  0%{
    opacity:0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.termsandcondns{
  display: none;
}


/* Styling for the hamburger button */
.hamburger-container{
  background-color: transparent;
  border: 1px solid transparent;
  display: none;
}
#respmenu{
  z-index: 4;
  background: var(--work-bg);
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0em;
  transition: all 0.5s ease;
}
.respmenu-contents{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.respmenu-contents>li>.nav-link{
  font-size: 6rem;
}
.respmenu-contents:hover>li>.nav-link{
  filter: blur(5px);
}
.respmenu-contents:hover>li>.nav-link:hover{
  filter: blur(0px);
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
  right: 0em;
  top: 1em;
  position: fixed;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:var(--text-color);
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}




/* RESPONSIVE */
@media screen and (max-width: 1601px) {
  .hello,p.text{
    font-size: 5.8rem;;
  }

}
@media screen and (max-width: 1551px) {
  .hello,p.text{
    font-size: 5.6rem;
  }

}
@media screen and (max-width: 1501px) {
  .hello,p.text{
    font-size: 5.4rem;
  }

}
@media screen and (max-width: 1451px) {
  .hello,p.text{
    font-size: 5.2rem;
  }

}
@media screen and (max-width: 1401px) {
  .hello,p.text{
    font-size: 5rem;
  }

}
@media screen and (max-width: 1351px) {
  .hello,p.text{
    font-size: 4.8rem;
  }
  .socials{
    margin-top: 1rem;
  }
  form > div > label > textarea {
    height: 5em;
    width: 9em;
  }
  form > label > input,
form > input {
  width: 9em;
}
form > div > label > input {
  width: 9em;
}
}
@media screen and (max-width: 1301px) {
  .hello,p.text{
    font-size: 4.6rem;
  }
  .socials{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1251px) {
  .hello,p.text{
    font-size: 4.4rem;
  }
  .socials{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 1201px) {
  .hello,p.text{
    font-size: 4.2rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1167px) {
  .hello,p.text{
    font-size: 4rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1142px) {
  .hello,p.text{
    font-size: 3.8rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1120px) {
  .hello,p.text,h2,h4{
    font-size: 3.6rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
  form > div > label > textarea {
    width: 6em;
  }
  form > label > input,
form > input {
  width: 6em;
}
form > div > label > input {
  width: 6em;
}
form > div > input[type="submit"]{
  width: 6em;
  font-size: 3rem;
}
#footer{
  display: none;
}
.termsandcondns{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works{
  width: 18em;
  height: calc((100vh / 4) - 1rem);
}
.photo {
  height: 8em;
  width: 16em;
}
}

@media screen and (max-width: 1092px) {
  .hello,p.text{
    font-size: 3.4rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1067px) {
  .hello,p.text{
    font-size: 3.2rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1042px) {
  .hello,p.text{
    font-size: 3rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1017px) {
  .hello,p.text{
    font-size: 2.8rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
}
@media screen and (max-width: 1001px) {
  .hello,p.text,h2,h4{
    font-size: 2.8rem;
  }
  .socials{
    margin-top: 1.5rem;
  }
  .hamburger-container{
    display: block;
  }
  nav{
    display: none;
  }
  .respmenu-contents>li>.nav-link{
    font-size: 2rem;
  }
}

@media screen and (max-width: 993px) {
  .hello,p.text,h2,h4{
    font-size: 2.6rem;
  }
.works{
  width: 14em;
  height: calc((100vh / 4) - 1.4rem);
}
.photo {
  height: 6.5em;
  width: 13em;
}
.me.home{
  width: 10em;
}
}
@media screen and (max-width: 749px) {
  .hello,p.text,h2,h4{
    font-size: 2.4rem;
  }
.works{
  width: 12em;
  height: calc((100vh / 4) - 1.8rem);
}
.photo {
  height: 5em;
  width: 10em;
}
.me.home{
  width: 10em;
}
.worktext {
  transition: all 0.3s ease;
  transform: translateY(0rem);
}
}
@media screen and (max-width: 704px) {
  .hello,p.text,h2,h4{
    font-size: 2.2rem;
  }
.works{
  width: 12em;
  height: calc((100vh / 4) - 1.8rem);
}
.photo {
  height: 5em;
  width: 10em;
}
.me.home{
  width: 6em;
}
.worktext {
  transition: all 0.3s ease;
  transform: translateY(0rem);
}
form > div > label > textarea {
  width: 5em;
  height: 4.4em;
}
form > label > input,
form > input {
width: 5em;
height: 1.6em;
}
form > div > label > input {
width: 5em;
height: 1.6em;
}
form > div > input[type="submit"]{
width: 5em;
font-size: 3rem;
height: 1.6em;
}
}
@media screen and (max-width: 648px) {
  .hello,p.text,h2,h4{
    font-size: 2rem;
  }
.works{
  width: 10em;
  height: calc((100vh / 4) - 2rem);
}
.photo {
  height: 4em;
  width: 8em;
}
.me.home{
  width: 6em;
}
.worktext {
  transition: all 0.3s ease;
  transform: translateY(0rem);
}
.socials-home{
  position: fixed;
  flex-direction: column;
  left: -0.5em;
  top: 50%;
  gap: 0.1rem;
  background: var(--work-bg);
  backdrop-filter: blur(5px);
  padding:0 0.5em;
  border-radius: 0 22px 22px 0;
  z-index: 5;
}
.social-icon-home>i{
  color: red;
  font-size: 1.5rem;
}

#moreprojectslink{
  font-size: 1rem;
}
}

@media screen and (max-width: 597px) {
  .hello,p.text,h2,h4{
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 577px) {
  .hello,p.text,h2,h4{
    font-size: 1.7rem;
  }
  .works{
    width: 10em;
    height: calc((100vh / 4) - 2rem);
  }
  .photo {
    height: 4em;
    width: 8em;
  }
  .me.home{
    width: 6em;
  }
  .worktext {
    transition: all 0.3s ease;
    transform: translateY(0rem);
}
form > div > label > textarea {
  width: 4em;
  height: 3.4em;
}
form > label > input,
form > input {
  width: 4em;
  height: 1.2em;
}
form > div > label > input {
  width: 4em;
  height: 1.2em;
}
form > div > input[type="submit"]{
  width: 4em;
  font-size: 3rem;
  height: 1.2em;
}
#worksrow-3,#worksrow-2{
  display: none;
}
.worksrow{
  flex-direction: column;
  align-items: center;
}
}


@media screen and (max-width: 534px) {
  .hello,p.text,h2,h4{
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 521px) {
  .hello,p.text,h2,h4{
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 496px) {
  .hello,p.text,h2,h4{
    font-size: 1.2rem;
  }
  form > div > label > textarea {
    width: 4.6em;
    height: 3em;
  }
  form > label > input,
  form > input {
    width: 4.6em;
    height: 1.1em;
  }
  form > div > label > input {
    width: 4.6em;
    height: 1.1em;
  }
  form > div > input[type="submit"]{
    width: 4.6em;
    font-size: 1rem;
    height: 1.2em;
  }
  form{
    flex-direction: column;
  }
  input{
    font-size: 1rem;
  }
}
@media screen and (max-width: 496px) {
  .me.home{
    display: none;
  }
}